/* Top-level layout styles */

HTML, body
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#header
{
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

#app-content
{
	display: flex;
	justify-content: space-between;
}

#region-settings
{
	background: rgb(245, 151, 151);
	flex-basis: 20%;
}

.section-column
{
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

#region-pattern
{
	background: rgb(255, 255, 164);
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#region-brush
{
	background: rgb(215, 171, 242);
	flex-basis: 20%;
}


/* Pattern styles */

.pattern-cell
{
	width: 15px;
	height: 15px;
	text-align: center;
	vertical-align: center;
	border: 1px solid black;
}

#table_pattern
{
	border-collapse: collapse;
}


/* Brush region styles */

#palette
{
	margin: 100px 10px;
}

#blue { background: rgb(68, 68, 211); }
#green { background: forestgreen; }
#purple { background: rgb(169, 84, 255); }